<ion-header>
    <ion-toolbar color="primary">
        <ion-button slot="start" *ngIf="!showMap" (click)="exitWithoutSave()" clear>
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-button slot="start" (click)="saveAddres()" *ngIf="showMap" color="light" icon-only>
            <ion-icon name="bookmark"></ion-icon>
        </ion-button>

        <ion-title *ngIf="showCityList">
            Seleccione ciudad
        </ion-title>
        <ion-title *ngIf="showAdress">
            Ingrese direccion
        </ion-title>
        <ion-title *ngIf="showMap">
            Confime posición geográfica
        </ion-title>
    </ion-toolbar>
    
</ion-header>

<ion-content *ngIf="showCityList">
    <ion-list>
        <ion-item *ngFor="let city of citiesList | async">
            <ion-label (click)="setCity(city)"> {{ city.name }} </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<ion-content *ngIf="showAdress">
    <br>
    <form [formGroup]="addressForm" >
        <ion-item>
            <ion-label position="stacked">Direccion</ion-label>
                <ion-input formControlName="address" type="text" placeholder="Ingrese su dirección" [(ngModel)]="search_value" 
                    debounce="1500" (ionChange)="searchPlace()"
                    [class.invalid]="!addressForm.controls['address'].valid && addressForm.controls['address'].touched" text-wrap>
                </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!addressForm.controls['address'].valid &&
                    addressForm.controls['address'].touched">
            <ion-label>Por favor ingrese su dirección</ion-label>
        </ion-item>
        <ion-list *ngIf="places && places.length > 0">
                <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)" color="medium" >
                    {{place.formatted_address}}
                </ion-item>
        </ion-list>
        <br>
        <ion-segment color="secondary" formControlName="icon" [(ngModel)]="address.icon" *ngIf="showAddressDetailField">
            <ion-segment-button value="home">
                <ion-icon name="home"></ion-icon>
                <ion-label>Casa</ion-label>
            </ion-segment-button>
            <ion-segment-button value="heart">
                <ion-icon name="heart"></ion-icon>
                <ion-label>Amor</ion-label>
            </ion-segment-button>
            <ion-segment-button value="cafe">
                <ion-icon name="cafe"></ion-icon>
                <ion-label>Cafe</ion-label>
            </ion-segment-button>
            <ion-segment-button value="laptop">
                <ion-icon name="laptop"></ion-icon>
                <ion-label>Oficina</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-item *ngIf="showAddressDetailField">
            <ion-label position="stacked">Complemento Dirección</ion-label>
                <ion-input formControlName="detail" type="text" placeholder="Apartamento/Piso/Edificio" [(ngModel)]="address.detail"
                    [class.invalid]="!addressForm.controls['detail'].valid && addressForm.controls['detail'].touched">
                </ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!addressForm.controls['detail'].valid &&
                    addressForm.controls['detail'].touched">
            <ion-label>Por favor ingrese su dirección</ion-label>
        </ion-item>
        <ion-button *ngIf="showAddressDetailField" (click)="setAddress()" expand="block" [disabled]="!addressForm.valid">
            Continuar
        </ion-button>
    </form>
</ion-content>

<ion-content  class="map-page">
    <div style="height: 100%; width: 100%" #mapCanvas id="map_canvas">
    </div>
</ion-content>
