<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Direcciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button routerLink="/user-address/cities" expand="block">
    Agregar Dirección
  </ion-button>

  <ion-card *ngFor="let address of userProfile.address">
    <ion-card-header>
      <ion-card-subtitle>{{ address.country_name }} - {{ address.citi_name }}</ion-card-subtitle>
      <ion-card-title> {{ address.name }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ address.description}}
    </ion-card-content>
    <ion-item>
        <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>

</ion-content>
